
<br>
<br>
<br>
<br>
<body>
    <div class="container">
      <div class="mx-auto">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2> Welcome, <%= current_user.username %></h2>
              <h3>Here are your tasks...</h3>
                <button class ="button btn-info"><a href="/lists/new">New Task</a> </button>
          </div>
        </div>
      </div>
  
    
    <div class="container">
      <div class="container">         
          <% current_user.lists.each do |list| %>
      <br>
                  <div id="task">
                        <h3> <%= list.content %> </h3>     
                    <div class="btn-group" role='group'>
                      <div class="btn btn-link">
                        <form method="get" action="/lists/<%=list.id%>/edit">
                          <button type="submit">Edit Task</button>
                        </form>
                      </div>
                    </div>
                              
                    <div class="btn btn-link">
                      <form method="post" action="/lists/<%=list.id%>/delete">
                        <input id="hidden" type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Task Complete!">
                      </form>
                    </div>
                  </div>
          <%end%>
        </div>
      </div>
    </div>
  
  
      

</body>

