

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel='stylesheet' href="public/css/bootstrap-responsive.css">
    <title>To Do</title>
</head>


<body>

  <div class="container">
   <h3> Welcome, <%= current_user.username %> here are your tasks...</h3>
  </div>
    
    <div class="row marketing">     
      <% current_user.lists.each do |list| %>
        <div class="card">
          <div class="card-body">
            <h3> <%= list.content %> </h3>     
                <div class="btn-group" role='group'>
                  <div class="btn btn-link">
                    <form method="get" action="/lists/<%=list.id%>/edit">
                      <button type="submit">Edit Task</button>
                    </form>
                  </div>
                </div>
                          
                <div class="btn btn-link">
                  <form method="post" action="/lists/<%=list.id%>/delete">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Task Complete!">
                  </form>
                </div>
            </div>
        </div>
  
  
      <% end %>

</body>

</div>