<body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Login to Task Keeper</h2>
        <label for="inputUsername" class="sr-only">Username:</label>
        <input type="username" id="inputUserName" class="form-control" placeholder="" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>



<h1>Login to Task Keeper!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:" id="username ">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>